@font-face {
    font-family: "Archer";
    src: url("assets/font/archer/Archer-Bold.eot");
    src: url("assets/font/archer/Archer-Bold.eot?#iefix") format("embedded-opentype"),
        url("assets/font/archer/Archer-Bold.woff2") format("woff2"),
        url("assets/font/archer/Archer-Bold.woff") format("woff"),
        url("assets/font/archer/Archer-Bold.ttf") format("truetype"),
        url("assets/font/archer/Archer-Bold.svg#Archer-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Archer";
    src: url("assets/font/archer/Archer-Medium.eot");
    src: url("assets/font/archer/Archer-Medium.eot?#iefix") format("embedded-opentype"),
        url("assets/font/archer/Archer-Medium.woff2") format("woff2"),
        url("assets/font/archer/Archer-Medium.woff") format("woff"),
        url("assets/font/archer/Archer-Medium.ttf") format("truetype"),
        url("assets/font/archer/Archer-Medium.svg#Archer-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Archer";
    src: url("assets/font/archer/Archer-Semibold.eot");
    src: url("assets/font/archer/Archer-Semibold.eot?#iefix") format("embedded-opentype"),
        url("assets/font/archer/Archer-Semibold.woff2") format("woff2"),
        url("assets/font/archer/Archer-Semibold.woff") format("woff"),
        url("assets/font/archer/Archer-Semibold.ttf") format("truetype"),
        url("assets/font/archer/Archer-Semibold.svg#Archer-Semibold") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer';
    src: url('assets/font/archer/Archer-Book.eot');
    src: url('assets/font/archer/Archer-Book.eot?#iefix') format('embedded-opentype'),
        url('assets/font/archer/Archer-Book.woff2') format('woff2'),
        url('assets/font/archer/Archer-Book.woff') format('woff'),
        url('assets/font/archer/Archer-Book.ttf') format('truetype'),
        url('assets/font/archer/Archer-Book.svg#Archer-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer';
    src: url('assets/font/archer/Archer-BookItalic.eot');
    src: url('assets/font/archer/Archer-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/font/archer/Archer-BookItalic.woff2') format('woff2'),
        url('assets/font/archer/Archer-BookItalic.woff') format('woff'),
        url('assets/font/archer/Archer-BookItalic.ttf') format('truetype'),
        url('assets/font/archer/Archer-BookItalic.svg#Archer-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


h1 {
    font: normal normal bold 75px/80px Archer;
}

h2 {
    font: normal normal bold 65px/70px Archer;
}

h3 {
    font: normal normal bold 38px/38px Archer;
}

h4 {
    font: normal normal bold 28px/28px Archer;
}

h5 {
    font: normal normal 600 20px/22px Archer;
}

p {
    font-family: "Archer";
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #fff;
}

ul,
ol {
    margin: 0;
    padding: 0;
   
}
ol  li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    outline: none;
    text-decoration: none;
}
a:hover, a:focus{
    outline: none;
    text-decoration: none;
}
